<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="shortcuticon"href="../resources/favicon.ico"th:href="@{/static/favicon.ico}"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border="1" align="center">
            <tr>
                <th>用户ID</th>
                <th>用户姓名</th>
                <th>用户性别</th>
                <th>操作</th>
            </tr>
            <tr th:each="u: ${list}">
                <td th:text="${u.userId}"></td>
                <td th:text="${u.userName}"></td>
                <td th:text="${u.userSex}"></td>
                <td>
                    <a th:href="@{user/updateUser(id=${u.userId})}">修改</a>
                    <a th:href="@{user/deleteUser(id=${u.userId})}">删除</a>
                </td>
            </tr>
        </table>
</body>
</html>